<div class="row">
  <%= simple_form_for [:account, @host], wrapper: :horizontal_form do |f| %>

    <%= f.input :ip %>
    <%= f.input :port, as: :integer %>
    <%= f.input :comment %>
    <%= f.input :user1 %>
    <%= f.input :user2 %>
    <%= f.input :user3 %>

    <div class="form-group">
      <label class="col-sm-3"></label>
      <div class="col-sm-9">
        <%= f.submit class: 'btn btn-sm btn-primary'%>
      </div>
    </div>
  <% end %>
</div>