<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SshBastion</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= render 'account/shared/static_plugins' %>

  <%= stylesheet_link_tag    'account', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'account', 'data-turbolinks-track' => 'reload' %>
</head>

<body>
  <%= render 'account/shared/navbar' %>
  <div id="wrapper">
    <%= render 'account/shared/sidebar' %>

    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="col-md-9 col-lg-11">
          <%= render 'account/shared/flash' %>
          <%= yield %>

          <%= switch_user_select %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
